. lista,
. controles {
  tipo de estilo de lista: ninguno;
  relleno: 0;
}

. lista {
  margen: 1rem  0;
}

. controles {
  margen: 0;
}

. fila {
  pantalla: bloque;
  relleno: 1rem ;
}

a. fila:activo {
  color de fondo:
    var(--col-active);
}

.  {
  pantalla: bloque;
  tamaño de la fuente: 1rem ;
}

. secundario {
  pantalla: bloque;
  tamaño de la fuente: 0,75rem ;
}

etiqueta. fila,
. fila. conImagen {
  pantalla: flexión;
  brecha: 1rem ;
}

. fila. conImagen {
  align-items: inicial;
}

. fila . texto {
  pantalla: bloque;
}

. fila . marco {
  pantalla: bloque;
  width: 30%;
}

. marco img {
  ancho: 100% ;
}

. vacio {
  tamaño de la fuente: 0,75rem ;
  texto-alinear: centro;
}
