mi-nav {
  pantalla: bloque;
  color de fondo:
    var(--colorMiNav);
}

mi-nav ul {
  pantalla: flexión;
  justificación-contenido: centro;
  align-items: centro;
  flex-flow: envoltura;
  estilo de lista: ninguno;
  relleno: 0;
  margen: 0;
}

mi-nav ul li {
  margen: 0,5rem ;
}
